@page "/"

<div class="jumbotron">
  <h1 class="display-4 text-center">Welcome!</h1>
  <p class="lead">This single-page application (SPA) is intended to house my collection of coding challenges and exercises completed in C#.</p>
  <hr class="my-4">
   <p>Technologies used to build this application:</p>
    <br />
    <ul>
        <li>.NET 5</li>
        <li>Blazor Web Assembly</li>
        <li>C# 9</li>
        <li>HTML5, CSS3, JS</li>
        <li>Bootstrap 5</li>
    </ul>

  <hr /><p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>




