<div class="input-group input-group-lg">
    <div class="input-group-prepend">
        <span class="input-group-text">To Do:</span>
    </div>
    <input type="text" class="form-control" placeholder="Description of task"
           @bind-value="Description" @bind-value:event="oninput" @onkeypress="KeyPress" />
    <div class="input-group-append">
        <button class="btn btn-secondary @buttonDisabled" @onclick="NewItem">Add Item</button>
    </div>
</div>
@code {
    string Description { get; set; }

    string buttonDisabled => Description != null && Description.Length > 0 ? null : "disabled";

    [Parameter]
    public Action<string> OnNewItem { get; set; }

    void NewItem()
    {
        if (OnNewItem != null)
        {
            OnNewItem(Description);
            Description = "";
        }
    }
    //Even handler to detect when user presses enter key
    void KeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            NewItem();
        }
    }

}
