@*<h2>To Do:</h2>*@
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:10%;"></th>
            <th class="underline">Tasks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var toDo in Todos)
        {
            
            <ToDoItem Description="@toDo.Description" TaskComplete="@toDo.Done"/>
        }
    </tbody>
</table>

<NewItemEntry OnNewItem="@OnNewItem" />
@code {
    [Parameter]
    public IList<ToDo> Todos { get; set; }

    void OnNewItem(string newItemDescription)
    {
        if(Todos != null)
        {
            Todos.Add(new ToDo
                {
                    Description = newItemDescription
                });
            StateHasChanged();
        }
    }
}
